<!DOCTYPE html>
<html lang="en">
<head>
    {{>alllinks}}
</head>

<body>
    {{>navbar}}

    <!-- main header -->
    <div class="container-fluid ">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">

                    <!-- right side header -->
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure>
                         <img src="images/about.png" alt="sourav" class="img-fluid" title="sid creation">
                        </figure> 
                     </div>
                    <!-- left side div -->
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to Weather app</p>
                        <h1>i am a <span class="text_clr"> Mern stack developer </span> and learner</h1>
                        <a href="#"><button>About Me</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer code -->
   {{>footer}}
</body>
</html>